* {
  font-family: 'Nanum Gothic', sans-serif;
}

/* BASIC ELEMENTS */
@media (max-width: 767px) {
  /* works on @xs; small display(mobile) */
  body {
    padding-top: 75px;
  }


}

@media (min-width: 768px) {
  /* works on general display(desktop) */
  body {
    /* padding-top is 75 + div#cmc-nav_banner.height */
    padding-top: 140px;

  }
}

/* CMCLab Homepage Sections */
div#cmc-nav-banner {
  /* hidden @xs */
  height: 120px;
  /*background-color: red;*/
}



@media (max-width: 767px) {
  
  /* works on @xs; small display(mobile) */
  div.cmc-section {
    padding: 12px;
    text-align: center;
    background-color: #fafafa;
  }
  ul.cmc-paperlist li {
    font-size: 0.8em;
    padding: 1px;
  }
  h1.cmc-container-header {
    font-size: 2.0em;
  }

  p.cmc-container-para {
    font-size: 1.0em;
  }

  p.cmc-container-project-para {
    font-size: 1.0em;
  }

  img.cmc-section-img {
    padding: 8px;
    width:100%;
    height: 240px;
    max-width: 240px;
    
    overflow:hidden;
  }

  img.cmc-project-img {
    padding-bottom: 8px;
  }

  div.cmc-section hr {
    margin-top: 12px;
    margin-bottom: 18px;
    border-color: #c0c0c0;
    border-style: dashed;
    width: 50%;
  }
  hr.cmc-separate {
    margin-top: 24px;
    margin-bottom: 24px;
    border-color: #c0c0c0;
    border-style: dashed;
    width: 75%;
  }
  div.cmc-nav-list{
    padding-top: 0px
  }

  img.cmc-index-img{
    padding-bottom: 8px;
    width: 100%; 
  }
}
@media (min-width: 768px) {
  
  /* works on general display(desktop) */
  div.cmc-section {
    padding: 30px;
    text-align: center;
    background-color: #fafafa;
    width: 90%; 

    margin-left: auto; margin-right: auto;
  }

  div.cmc-section-index {
    padding: 3px;
    text-align: center;
    background-color: #fafafa;
    width: 90%; 
   
    margin-left: auto; margin-right: auto;
  }

  ul.cmc-paperlist li {
    font-size: 1.1em;
    padding: 1px;
  }
  h1.cmc-container-header {
    font-size: 3em;
  }
  p.cmc-container-para {
    font-size: 1.3em;
  }
  p.cmc-container-project-para {
    font-size: 1.1em;
  }
  img.cmc-section-img {
    padding: 12px;
    width:100%;
    max-width: 240px;
    height:240px;
    overflow:hidden;
  }

  img.cmc-project-img {
    padding-bottom: 12px;
  }

  div.cmc-section hr {
    margin-top: 24px;
    margin-bottom: 36px;
    border-color: #c0c0c0;
    border-style: dashed;
    width: 25%;
  }
  hr.cmc-separate {
    margin-top: 48px;
    margin-bottom: 48px;
    border-color: #c0c0c0;
    border-style: dashed;
    width: 75%;
  }

  div.cmc-nav-list{
    padding-top: 40px
  }

  img.cmc-index-img{
    padding-bottom: 12px;
    width: 100%; 
  }

}

/* people.html ONLY */
@media (max-width: 767px) {
  /* works on @xs; small display(mobile) */
  div.cmc-people-advisor-profile {
    padding: 0px;
  }
  div.cmc-people-advisor-profile>ul li {
    font-size: 1em;
    padding: 4px;
  }

}
@media (min-width: 768px) {
  /* works on general display(desktop) */
  div.cmc-people-advisor-profile {
    padding: 24px; 
    text-align: left;
  }
  div.cmc-people-advisor-profile>ul li {
    font-size: 1.2em;
    padding: 8px;
  }
}


/* professor.html ONLY */
@media (max-width: 767px) {
  /* works on @xs; small display(mobile) */
  div.cmc-professor-education {
    padding: 0px;
    text-align: left;
  }
  div.cmc-professor-education>ul li {
    font-size: 1em;
    padding: 4px;
  }

  div.cmc-professor-education>table tr td{
    font-size: 0.5em;
    padding: 2px;
  }
  div.cmc-professor-education>table tr th{
    font-size: 0.5em;
    padding: 2px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  /* works on general display(desktop) */
  div.cmc-professor-education {
    padding: 24px; 
    text-align: left;
  }
  div.cmc-professor-education>ul li {
    font-size: 1.1em;
    padding: 0.8px;
  }
  
  div.cmc-professor-education>table tr td{
    font-size: 1.1em;
    padding: 0.8px;
  }
  div.cmc-professor-education>table tr th{
    font-size: 1.1em;
    padding: 0.8px;
    text-align: center;
  }
}


img.cmc-people-section-img {
  /* for professor */
  padding: 24px;
  width: 100%;
  max-width: 275px;
}
img.cmc-people-section-img-else {
  /* for students including alumni */
  padding: 24px;
  width: 100%;
  max-width: 240px;
}

/* Footer */
@media (max-width: 767px) {
  /* works on @xs; small display(mobile) */
  footer {
    background-color: #fbfbfb;
    box-shadow: #cecece 0px 0px 8px;
    border-top: 1px #e7e7e7 solid;
    padding: 8px;
    margin-top: 22px;
  }
}
@media (min-width: 768px) {
  /* works on general display(desktop) */
  footer {
    background-color: #fbfbfb;
    box-shadow: #cecece 0px 0px 8px;
    border-top: 1px #e7e7e7 solid;
    padding: 36px;
    margin-top: 22px;
  }
}