<!--
    FILE NAME: footer.html
  DESCRIPTION: 푸터의 내용을 정리한 것입니다. 
-->

<footer>

  <div class="container">

    <!-- 연락처/ 기본적으로 좌측 절반(6/12)을 차지하는데 좁은 화면에서는 위 줄 전체를 차지함 -->
    <div class="col-sm-6 col-xs-12">
      <h4>CONTACT</h4>
      <p class="text-muted">경기도 안양시 만안구 성결대학로 53 성결관 104호, 14097</p>
      <p class="text-muted">Tel: 031-467-8442</p>
    </div>

    <!-- 사이트맵/ 기본적으로 반의 반(3/12)을 차지하는데 좁은 화면에서는 아래 줄 절반을 차지함 -->
    <div class="col-sm-3 col-xs-6">
      <h4>SITEMAP</h4>
      <p class="text-muted"><a href="{{ site.url }}/">HOME</a></p>
      <p class="text-muted"><a href="{{ site.url }}/people">PEOPLE</a></p>
      <p class="text-muted"><a href="{{ site.url }}/projects">RESEARCH</a></p>
      <p class="text-muted"><a href="{{ site.url }}/papers">PAPERS</a></p>
    </div>

    <!-- 관련 사이트/ 기본적으로 반의 반(3/12)을 차지하는데 좁은 화면에서는 아래 줄 절반을 차지함 -->
    <div class="col-sm-3 col-xs-6">
      <h4>RELATED LINKS</h4>
      <p class="text-muted"><a href="https://www.sungkyul.ac.kr/">성결대학교</a></p>
      <p class="text-muted"><a href="http://skmulti.sungkyul.ac.kr/">미디어소프트웨어학부</a></p>
    </div>

  </div>

  <hr class="cmc-separate">

  <!-- 카피라이트 -->
  <p class="text-center text-muted">&copy; 2018 Creative Media Contents Laboratory, SKU. All Rights Reserved.</p>

</footer>