<!--
    FILE NAME: head.html
  DESCRIPTION: <head> 태그 내부에 들어갈 정의 파일을 작성함 
-->

<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!-- 부트스트랩 CSS파일 -->
<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/bootstrap-theme.min.css">

<!-- 사용자 정의된(내가 만든) CSS파일 -->
<link rel="stylesheet" href="{{ site.url }}/css/style.css">

<!-- JQuery와 부트스트랩 JS파일 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>

<!-- 구글 웹폰트(나눔고딕) -->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">