<!--
    FILE NAME: navbar.html
  DESCRIPTION: 상단의 네비게이션 바를 정리한 것입니다.
-->

<nav class="navbar navbar-default navbar-fixed-top cmc-nav" >
  <div class="container" >

    <!-- 홈페이지의 폭이 좁을 경우 모바일용 메뉴로 바뀐다 -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cmc-homepage-menu-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- 좌측의 사이트 제목 -->
      <!--<a class="navbar-brand" href="{{ site.url }}/"><strong>CMCLab</strong>@SKU</a>-->
      <div id="cmc-nav-banner" class="container-fluid hidden-xs">
        <a href="{{ site.url }}/">
          <img src="{{ site.url }}/img/essentials/SKUCMCLab_Logo.png" alt="SKU CMCLab" class="img-responsive" style="height: 100%; padding:15px"/>
        </a>
      </div>
      
    </div>


    <div class="collapse navbar-collapse cmc-nav-list" id="cmc-homepage-menu-collapse">

      <!-- 우측의 메뉴들/ <li>태그들이 하나의 메뉴 항목이 된다 -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.url }}/">HOME</a></li>
        <!-- People의 경우 교수님과 학부생, 졸업생을 구분지어 선택할 수 있도록 한다. id 속성을 활용함 -->
        <li class="dropdown">
          <a href="{{ site.url }}/people" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PEOPLE <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.url }}/people">지도교수</a></li>
            <li><a href="{{ site.url }}/people#cmc-people-researcher">연구원</a></li>
            <li><a href="{{ site.url }}/people#cmc-people-alumni">졸업생</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="{{ site.url }}/people" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">RESEARCH<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.url }}/projects">Complete</a></li>
            <li><a href="{{ site.url }}/terminated">Progress</a></li>
          </ul>
        </li>

        <li><a href="{{ site.url }}/papers">PAPERS</a></li>
      </ul>

    </div>

  </div>
</nav>
